
  //*  Background: #F2F1E8
    Text: #131511
    Inline Link: #968772
    Inline Link (Hover): #967343
    Navigation Background: #FFFFFF
    Navigation Text: #2B2F26
    Navigation Text (Hover): #CD5D67
    Navigation Text (Active) #968772
    Button Background: #968772
    Button Background (Hover): #967343
    Button Text: #F2F1E8
    Button Text (Hover): #FFFFFF
    Input Border Bottom: #968772
    Input Border Bottom (Focus): #967343
    font-family: 'Lora', serif;
    font-family: 'Roboto', sans-serif;
  *//


.clearfix:after {
        content:"";
        display:block;
        clear:both;
}

body {
  font-family: 'Lora', serif;
  background-color: #f2f1e8;
  line-height: 1.6;
  max-width: 1000px;

}

header {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  max-width: 1400px;
  height: 90px;
  display: flex;
  align-items: center;


}


#logo {
  float: left;
}

.main_navigation {}



.main_navigation a {
  display: inline;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: underline;
  padding-left: 0px;
  margin-top: 100px;
  margin-left: 130px;
  color: #2B2F26;




}

a:hover {
  color: #cd5d67;
}

a:active {
    color: #968772;
}

h1 {
  font-size: 35px;
}

#Bent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


blockquote {
  font-style: italic;
  padding-left: 70px;
  padding-right: 200px;
  padding-top: 20px;
  border-left: solid 1px darkgray;
}

h3 {
  font-size:  22px;
}

#birdhouse {
  float: left;
  margin-left: 50px;
}

#Community {
  display: block;
  font-size: 54px;
  text-align: center;
}

#studio {

  padding: 5px 70px 5px 50px;



}

.history {
  margin-left: 50px;
  margin-right: 60px;
}

.relative {

}

.relative h1 {
color: white;
font-size: 40px;
text-align: center;
padding-top: 80px;
padding-bottom: 80px;
background-image: url("background-3.jpg");
background-color: white;

}




.facilities{

  margin-left: 50px;
  margin-right: 60px;

}





#facility {
  margin-left: 50px;


}



#Monthly {
  margin-left: 50px;



}

#pricing td {
  border: solid 1px black;
  border-collapse: collapse;
  margin-left: 50px;
}

#shelf {
  float: right;
}

#pricing {
  border: gray solid 1px;
  width: 900px;
  text-align: center;
  border-collapse: collapse;
  margin-left: 50px;

}

#pricing tr {
  border-left: gray solid 1px;

}

footer {
  background-color: #2B2F26;
  padding-left: 20px;
  color: white;
  height: 90px;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: 25px;
}

.ceramics_names {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;

}

#Bent1 {
  text-align: center;
  font-size: 150%;






}

#argh_endless {
  background: url("images/product-1.jpg");
  display: flex;
  width: 480px;
  height: 300px;
  background-repeat: no-repeat;
  margin: 10px;
  flex-direction: column-reverse;

}


#endless p {
    display: block;
    text-align: center;
    background-color: #2B2F26;
    color: white;
    width: 185px;
    height: 25px;
    margin: 10px;

  }

#argh_sets {
    background: url("images/product-2.jpg");
    width: 220px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;

  }

#sets p {
  display: block;
  text-align: center;
  background-color: #2B2F26;
  color: white;
  width: 60px;
  height: 25px;
  background-repeat: no-repeat;
  margin: 10px;
}

#argh_texture {
  background: url("images/product-3.jpg");
  width: 220px;
  height: 300px;
  background-repeat: no-repeat;
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
}

#textures p {
  display: block;
  text-align: center;
  background-color: #2B2F26;
  color: white;
  width: 95px;
  height: 25px;
  margin: 10px;

}

#argh_tea {
  background: url("images/product-4.jpg");
  width: 175px;
  height: 217px;
  background-repeat: no-repeat;
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
}

#tea p {
  display: block;
  text-align: center;
  background-color: #2B2F26;
  color: white;
  width: 95px;
  height: 25px;
  background-repeat: no-repeat;
  margin: 10px;
}

#argh_jars {
  background: url("images/product-5.jpg");
  width: 175px;
  height: 217px;
  background-repeat: no-repeat;
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
}

#jars p {
  display: block;
  text-align: center;
  background-color: #2B2F26;
  color: white;
  width: 155px;
  height: 25px;
  margin: 3px;

}

#argh_saki {
  background: url("images/product-6.jpg");
  width: 350px;
  height: 217px;
  background-repeat: no-repeat;
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
}

#saki p {
  display: block;
  text-align: center;
  background-color: #2B2F26;
  color: white;
  width: 95px;
  height: 25px;
  margin: 10px;

}

#argh_sunshine {
  background: url("images/product-7.jpg");
  width: 220px;
  height: 217px;
  background-repeat: no-repeat;
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
}

#sunshine p{
  display: block;
  text-align: center;
  background-color: #2B2F26;
  color: white;
  width: 155px;
  height: 25px;
  margin: 10px;

}

#postcard_back {
  background: url("images/background-2.jpg");
  height: 800px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

}


#postcard {
  background-color: white;
  width: 60%;
  height: 40%;
  line-height: 1.2;
}

#postcard h3 {
  color: #2B2F26;
  font-weight: lighter;
  display: block;
  text-align: center;
}

#postcard h4 {
  display: block;
  text-align: center;
}

#postcard form {
  color: #967343;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  padding-left: 76px;
  line-height: .9;
}

#name {
    padding: 5px 20px 5px 20px;
    width: 400px;
    color: #968772;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#email_ad {

    padding: 5px 20px 5px 20px;
    width: 400px;
    color: #968772;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#marketing_info {
  display: block;



}
hr {
  color: #gray;
  width: 550px;
}


#submit_button {
  background-color: #968772;
  color: white;
  width: 100px;
  height: 45px;
  display: block;
  margin: 0 auto;
